# Object files
*.sob
*.SOB

#ROMs
*.sfc
*.smc
*.SFC
*.SMC
*.ram

#MSU stuff
*.msu
*.pcm

#ZIPs
*.7z
*.zip
*.rar

#backups
*.bak
*.BAK

# build logs
*.LOG
*.log
*/SF2/*.DOC
*/SF2/*.doc
*/SF2/*.TMP
*/SF2/*.tmp
*/SF2/*.txt
*.TXT
*.CSV
*.csv
*.CSV#
*.csv#

# Files generated during assembly
*.CCR
*.PCR
SF/DATA/COL/*.PAC
SF/DATA/COL/ALLCOLS.COL